@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Archangelsk;
    src: url('./fonts/Archangelsk/Archangelsk.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-base: Roboto, sans-serif;
    --font-family-alternative: Archangelsk, sans-serif;
    --font-family-color-alternative: #ffffff;

    --font-family-color-alternaticve: #ffffff;

    --button-padding: 15px 50px;


    --background-color-base: #000;
    --background-color-alternative: #F8F200;

    --animation-time: .3s;
}


body {
    font-size: 18px;
    font-family: var(--font-family-base);
}

/* HERO */

.container {
    width: 1280px;
    margin: 0 auto;
}

.hero {
    background-image: url('./images/background-images-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    position: relative;
}

.hero-header {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 160px;
}


.user-info-block { 
    display: inline-block;
    max-width: 624px;
    background-color: var(--background-color-alternative);
    padding: 70px;
    
}

.user-info-block h2 {
    font-family: var(--font-family-alternative);
    font-size: 62px;
}

.button-user-info-block {
    display: inline-block;
    text-decoration: none;
    padding: 19px 50px;
    background-color: var(--background-color-base);
    color: var(--background-color-alternative);
    font-weight: 700;
    font-size: 24px;
    line-height: 166%;
    margin-top: 25px;
    transition: var(--animation-time);
}   

.button-user-info-block:hover,
.button-user-info-block:focus-visible {
    transition: var(--animation-time);
    text-shadow: #FC0 1px 0 10px;
    transform: scale(1.04);
    border-radius: 23px;
    box-shadow: 0 0 10px 2px #000;
}

.navigation-user-list {
    list-style-type: none;
    display: flex;
    column-gap: 25px;
}

.navigation-user-link {
    display: block;
    transition: var(--animation-time);
    width: clamp(30px, 436vw, 50px);
}


.navigation-user-link:hover,
.navigation-user-link:focus {
    transform: scale(1.2);
    transition: var(--animation-time);
}

.user-info-block {
    position: absolute;
    bottom: 0;
    right: 200px;
    clip-path: 
    polygon(
      0% 21%,     /* верхняя левая */
      11% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 83%,  /* нижняя правая */
      89% 100%,  /* нижняя правая */
      0 100%,   /* нижняя левая */
      0 95%      /* нижняя левая */
    );
}

/* ABOUT-GAME */

.about-game {
    padding-block: 70px 140px;
}

.about-game__info-title {
    font-size: 62px;
    font-weight: 400;
    font-family: var(--font-family-alternative);
}

.about-game__info-subtitle_add {
    color: #52BEDC;
    font-weight: 700;
}

.about-game__info-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #777;
    font-family: var(--font-family-base);
    width: 952px;
    line-height: 188.889%;
    margin-top: 25px;
}

.about-game__image {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.about-game__image-elements {
    display: block;
    transition: var(--animation-time);
}

.about-game__image-elements:hover {
    transform: scale(1.03);
    transition: var(--animation-time);
}

.about-game__image-1,
.about-game__image-2,
.about-game__image-3 {
    clip-path: 
    polygon(
      0% 21%,     /* верхняя левая */
      11% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 83%,  /* нижняя правая */
      89% 100%,  /* нижняя правая */
      0 100%,   /* нижняя левая */
      0 95%      /* нижняя левая */
    );
}

.about-game__info {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.about-game__image-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* PLAY-GAME */

.play-game {
    background-color: var(--background-color-base);
}

.play-game__list {
    display: flex;
    list-style-type: none;
    align-items: end;
    column-gap: 35px;
}

.play-game__title-about {
    max-width: 952px;
}

.play-game__list-item_title {
    color: var(--font-family-color-alternaticve);
    font-size: 62px;
    font-family: var(--font-family-alternative);
}

.play-game__subtitle {
    color: var(--font-family-color-alternaticve);
    font-weight: 400;
    font-family: var(--font-family-base);
    line-height: 188.889%;
    margin-top: 30px;
}