@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Archangelsk;
    src: url('./fonts/Archangelsk/Archangelsk.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-base: Roboto, sans-serif;
    --font-family-alternative: Archangelsk, sans-serif;
    --font-family-color-alternative: #ffffff;

    --font-family-color-alternaticve: #ffffff;

    --button-padding: 15px 50px;


    --background-color-base: #000;
    --background-color-alternative: #F8F200;

    --animation-time: .3s;

    --button-padding: 15px 50px;
}


body {
    font-size: 18px;
    font-family: var(--font-family-base);
}

/* HERO */

.container {
    width: 1280px;
    margin: 0 auto;
}

.hero {
    background-image: url('./images/background-images-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    position: relative;
}

.hero-header {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 160px;
}


.user-info-block { 
    display: inline-block;
    max-width: 624px;
    background-color: var(--background-color-alternative);
    padding: 70px;
    
}

.user-info-block h2 {
    font-family: var(--font-family-alternative);
    font-size: 62px;
}

.button-user-info-block {
    display: inline-block;
    text-decoration: none;
    padding: 19px 50px;
    background-color: var(--background-color-base);
    color: var(--background-color-alternative);
    font-weight: 700;
    font-size: 24px;
    line-height: 166%;
    margin-top: 25px;
    transition: var(--animation-time);
}   

.button-user-info-block:hover,
.button-user-info-block:focus-visible {
    transition: var(--animation-time);
    text-shadow: #FC0 1px 0 10px;
    transform: scale(1.04);
    border-radius: 23px;
    box-shadow: 0 0 10px 2px #000;
}

.navigation-user-list {
    list-style-type: none;
    display: flex;
    column-gap: 25px;
}

.navigation-user-link {
    display: block;
    transition: var(--animation-time);
    width: clamp(30px, 436vw, 50px);
}


.navigation-user-link:hover,
.navigation-user-link:focus {
    transform: scale(1.2);
    transition: var(--animation-time);
}

.user-info-block {
    position: absolute;
    bottom: 0;
    right: 200px;
    clip-path: 
    polygon(
      0% 21%,     /* верхняя левая */
      11% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 83%,  /* нижняя правая */
      89% 100%,  /* нижняя правая */
      0 100%,   /* нижняя левая */
      0 95%      /* нижняя левая */
    );
}

/* ABOUT-GAME */

.about-game {
    padding-block: 70px 140px;
    padding-inline: 100px;
}

.about-game__info-title {
    font-size: 62px;
    font-weight: 400;
    font-family: var(--font-family-alternative);
}

.about-game__info-subtitle_add {
    color: #52BEDC;
    font-weight: 700;
}

.about-game__info-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #777;
    font-family: var(--font-family-base);
    width: 952px;
    line-height: 188.889%;
    margin-top: 25px;
}

.about-game__image {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.about-game__image-elements {
    display: block;
    transition: var(--animation-time);
}

.about-game__image-elements:hover {
    transform: scale(1.03);
    transition: var(--animation-time);
}

.about-game__image-1,
.about-game__image-2,
.about-game__image-3 {
    clip-path: 
    polygon(
      0% 21%,     /* верхняя левая */
      11% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 83%,  /* нижняя правая */
      89% 100%,  /* нижняя правая */
      0 100%,   /* нижняя левая */
      0 95%      /* нижняя левая */
    );
}

.about-game__info {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.about-game__image-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* PLAY-GAME */

.play-game {
    background-color: var(--background-color-base);
    position: relative;
    padding-block: 15px 70px;
    padding-inline: 100px;
}

.play-game::before {
    content: "";
    background: url(./icons/before-play-game.svg), lightgray 50% / cover no-repeat;
    position: absolute;
    top: -68px;
    width: 100%;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.play-game::after {
    content: "";
    background: url(./icons/after-play-game.svg) lightgray 50% / cover no-repeat;
    position: absolute;
    bottom: -68px;
    width: 100%;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.play-game__list {
    display: flex;
    list-style-type: none;
    align-items: end;
    column-gap: 35px;
}

.play-game__title-about {
    max-width: 952px;
}

.play-game__list-item_title {
    color: var(--font-family-color-alternaticve);
    font-size: 62px;
    font-family: var(--font-family-alternative);
}

.play-game__subtitle {
    color: var(--font-family-color-alternaticve);
    font-weight: 400;
    font-family: var(--font-family-base);
    line-height: 188.889%;
    margin-top: 30px;
}



.game-form {
    display: inline-flex;
    flex-direction: column;
    max-width: 460px;
    gap: 25px;
}

.play-game__form {
    display: flex;
    flex-direction: column;
}

.play-game__form-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
} 


.game-form-field {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-block: 13px;
    font-size: 16px;
    color: #ffffff;
}

.play-game__button {
    padding: var(--button-padding);
    background-color: var(--background-color-alternative);
    border: none;
    max-width: 190px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    transition: var(--animation-time);
}

.play-game__button:hover,
.play-game__button:focus-visible {
    transition: var(--animation-time);
    transform: scale(1.04);
    border-radius: 23px;
}

.checkbox-game-form {
    font-family: var(--font-family-alternative);
    display: flex;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    align-items: center;
    gap: 5px;
}

.game-form-field-checkbox {
   border: none;
}

.game-form-field__file-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 39px 60px;
    border: 1px dashed #777;;
}

.game-form-field__file-add_button {
    background-color: inherit;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
}

.game-form-field__info-file {
    font-size: 12px;
    font-weight: 300;
}

/* ABOUT PLAY GAME */

.about__play-game {
    background-color: var(--background-color-alternative);
    display: flex;
    padding-inline: 100px;
    padding-block: 140px 100px;
    justify-content: space-between;
    align-items: center;
}

.about__play-game_img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about__play-game_text-info {
    max-width: 625px;
}

.about__play-game_text-info_title {
    font-size: 62px;
    font-style: normal;
    line-height: normal;
    font-family: var(--font-family-color-alternaticve);
}

.about__play-game_text-info_subtitle {
    font-weight: 400;
    line-height: 34px;
    margin-top: 20px;
}

.about__play-game_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.about__play-game_text-info_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__play-game_text-info_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
}

.about__play-game_text-info_button {
    display: inline-block;
    background-color: var(--background-color-base);
    padding: var(--button-padding);
    text-decoration: none;
    color: var(--background-color-alternative);
    font-weight: 700;
    margin-top: 40px;
}

/* BUY GAME */

.buy__game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color-base);
    color: #ffffff;
    background-image: url('/images/buy-game-section-img.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
}

.buy__game-info {
    max-width: 625px;
    padding: 70px 35px;
}

.buy__game-list {
    list-style-type: none;
}

.buy__game-list_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buy__game-info_title {
    font-size: 62px;
    font-family: var(--font-family-alternative);
}

.buy__game-text-decoration {
    color: #52BEDC;
    font-size: 24px;
    font-weight: 700;
}
